.text3{
    /* border: 1px solid red; */
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.text3 h1{
    width: 45%;
    font-size: 50px;
}

@media(min-width:520px)and (max-width:830px){
.text3{
    flex-direction: column;
    text-align: center;
}
.text3 h1{
    width: 95%;
    font-size: 50px;
}

}

@media(min-width:300px) and (max-width:520px){
.text3{
    flex-direction: column;
    text-align: center;
}
.text3 h1{
    width: 95%;
    font-size: 30px;
}
}
